[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ccxt = "*"
flask-restful = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
itables = "*"
pybit = "*"
flask-cors = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
