[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
ccxt = "*"
numpy = "*"
pandas = "*"
pandas-ta = "*"
python-dotenv = "*"
python-telegram-bot = "*"
pika = "*"
websocket = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
